# code: language=ansible
---
{% raw -%}
- name: Find pratform variable file
  ansible.builtin.set_fact:
    variable_file: "{{ lookup('first_found', params, errors='ignore') }}"
  vars:
    params:
      files:
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}/{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}.yml"
        - "{{ ansible_facts.os_family }}.yml"
      paths:
        - vars
{% endraw %}
  tags: role_{{ role_name }}_include_vars
{% raw -%}
- name: Include variable file
  ansible.builtin.include_vars:
    file: "{{ variable_file }}"
  when: variable_file | length > 0
{% endraw %}
  tags: role_{{ role_name }}_include_vars
- name: Import repository task
  ansible.builtin.import_tasks:
    file: repository.yml
  tags: role_{{ role_name }}_repository
- name: Import dependency task
  ansible.builtin.import_tasks:
    file: dependency.yml
  tags: role_{{ role_name }}_dependency
- name: Import package task
  ansible.builtin.import_tasks:
    file: package.yml
  tags: role_{{ role_name }}_package
- name: Import setting task
  ansible.builtin.import_tasks:
    file: setting.yml
  tags: role_{{ role_name }}_setting
- name: Import service task
  ansible.builtin.import_tasks:
    file: service.yml
  tags: role_{{ role_name }}_service
