---
# install packages tasks file for {{ role_name }}
{% raw -%}
- name: install dependency packages
  ansible.builtin.apt:
    name: "{{ role_dependency_packages }}"
- name: install packages
  ansible.builtin.apt:
    name: "{{ role_packages }}"
{% endraw %}
