---
# code: language=ansible
{% raw -%}
- name: Find platform task file
  ansible.builtin.set_fact:
    include_task_file: "{{ lookup('first_found', params, errors='ignore') }}"
  vars:
    params:
      files:
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}/{{ ansible_facts.distribution_major_version }}.yml"
        - "{{ ansible_facts.os_family }}/{{ ansible_facts.distribution }}.yml"
        - "{{ ansible_facts.os_family }}.yml"
      paths:
        - tasks/package
- name: Install packages
  ansible.builtin.include_tasks:
    file: "{{ include_task_file }}"
  when: include_task_file | length > 0
{% endraw %}
