---
- name: Add/update setting file
  ansible.builtin.template:
    src: {{ role_name }}.j2
    dest: /erc/{{ role_name }}/{{ role_name }}.conf
    mode: "0644"
- name: Add/update custom setting line
  ansible.builtin.lineinfile:
    path: /etc/{{ role_name }}/{{ role_name }}.conf
    regexp: "^(#\\s+)?option_name="
    line: option_name=option_value
- name: Add/update custom setting block
  ansible.builtin.blockinfile:
    path: /etc/{{ role_name }}/{{ role_name }}.conf
    {% raw -%}
    block: "{{ role_extra_cfg }}"
{% endraw %}
