---
galaxy_info:
  role_name: {{ role_name }}
  author: your name
  description: Setup {{ role_name }}(work in progress)
  license: Apache
  min_ansible_version: "2.18"
  platforms:
    - name: Debian
      versions:
        - bookworm
        - bullseye
dependencies: []
