---
galaxy_info:
  role_name: {{ role_name }}
  author: your name
  description: your description
  license: Apache
  min_ansible_version: "2.13"
  platforms:
    - name: Debian
      versions:
        - bookworm
        - bullseye
dependencies: []
