---
galaxy_info:
  author: {{ author }}
  description: {{ description }}
  license: MIT
  role_name: my_name
  namespace: my_galaxy_namespace
  min_ansible_version: 2.11
  # platforms:
  #   - name: EL
  #     versions:
  #       - 7
  #   - name: Debian
  #     versions:
  #       - bullseye
  #       - buster
  galaxy_tags: []
dependencies: []
  # List your role dependencies here, one per line. Be sure to remove the '[]' above,
  # if you add dependencies to this list.
{% for dependency in dependencies -%}
  #- {{ dependency }}
{% endfor %}
