# code: language=ansible
---
- name: Install repository dependency packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
# - name: Add apt signing key
#   ansible.builtin.get_url:
#     url: "{{ '{{' }} {{ role_name }}_apt_key_url {{ '}}' }}"
#     dest: "{{ '{{' }} {{ role_name }}_apt_key_dest {{ '}}' }}"
#     mode: "0644"
# - name: Add {{ role_name }} repository
#   ansible.builtin.apt_repository:
#     filename: {{ role_name }}
#     repo: deb [signed-by={{ '{{' }} {{ role_name }}_apt_key_dest {{ '}}' }}] https://packages.repository.com/debian {% raw %}{{ ansible_facts.distribution_release }}{% endraw %} main
#     state: present
