---
# code: language=ansible
- name: Service {{ role_name }} is active and enabled on system startup
  ansible.builtin.systemd:
    name: {{ role_name }}
    state: started
    enabled: true
# - name: allow {{ role_name }} port
#  community.general.ufw:
#    rule: allow
#    port: "123456"
