# code: language=ansible
---
- name: Create/update systemd unit file
  ansible.builtin.template:
    src: {{ role_name }}.service.j2
    dest: /lib/systemd/system/{{ role_name }}.service
    mode: "0644"
  notify: restart {{ role_name }}
- name: Service {{ role_name }} is active and enabled on system startup
  ansible.builtin.systemd:
    name: {{ role_name }}
    state: started
    enabled: true
# - name: allow {{ role_name }} port
#   community.general.ufw:
#     rule: allow
#     port: "123456"
