---
{{ role_name }}_dependency_packages: []

# {{ role_name }}_apt_key_url: https://packages.repository.com/{{ role_name }}.gpg.key
# {{ role_name }}_apt_key_download_dest: /etc/apt/keyrings/{{ role_name }}.gpg.key
# {{ role_name }}_apt_key_dest: /etc/apt/keyrings/{{ role_name }}.gpg

# {{ role_name }}_repo: owner_name/repo_name

{{ role_name }}_home: /opt/{{ role_name }}
{{ role_name }}_user: {{ role_name }}
{{ role_name }}_group: {{ role_name }}
