
# Created by https://www.gitignore.io/api/ansible

### Ansible ###
# Ansible retry files
*.retry
.ansible

### direnv ###
.direnv
.envrc

### dotenv ###
.env

### Molecule ###
.env.yml

### VisualStudioCode ###
/.vscode/
