---
## @see https://yamllint.readthedocs.io/en/stable/configuration.html
extends: default

# yaml-files:
#   - '*.yaml'
#   - '*.yml'
#   - '.yamllint'

## @see https://yamllint.readthedocs.io/en/stable/rules.html
rules:
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.braces
  # braces: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.brackets
  # brackets: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.colons
  # colons: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.commas
  # commas: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.comments
  # comments:
  #   level: warning
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.comments_indentation
  comments-indentation: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.document_end
  # document-end: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.document_start
  # document-start:
  #   level: warning
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.empty_lines
  # empty-lines: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.empty_values
  # empty-values: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.float_values
  # float-values: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.hyphens
  # hyphens: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.indentation
  # indentation: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.key_duplicates
  # key-duplicates: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.key_ordering
  # key-ordering: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.line_length
  line-length:
    max: 160
    # allow-non-breakable-words: true
    # allow-non-breakable-inline-mappings: false
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.new_line_at_end_of_file
  # new-line-at-end-of-file: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.new_lines
  # new-lines: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.octal_values
  # octal-values: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.quoted_strings
  # quoted-strings: disable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.trailing_spaces
  # trailing-spaces: enable
  ## https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules.truthy
  # truthy:
  #   level: warning
