---
- hosts: all
  roles:
    - role: {{ role_name }}
  {% raw -%}
  pre_tasks:
    - name: dump vars
      block:
        - name: create dump directory
          file:
            path: .molecule/facts
            state: directory
        - name: dump host gether facts
          blockinfile:
            path: ".molecule/facts/{{ inventory_hostname }}.yml"
            create: yes
            block: "{{ vars | to_nice_yaml }}"
          changed_when: no
      connection: local
      become: no
{% endraw -%}
