# ------------------------
# {{ ansible_managed }}
# ------------------------
[Unit]
Description={{ role_name }}
# Requires=network.service
# After=network.target

[Service]
Type=simple
# EnvironmentFile=/etc/default/{{ role_name }}
# Environment=VAR_NAME=VAR_VALUE
# WorkingDirectory={{ '{{' }} {{ role_name }}_root {{ '}}' }}
# User={{ '{{' }} role_name }}_user {{ '}}' }}
# Group={{ '{{' }} {{ role_name }}_group {{ '}}' }}
ExecStart={{ role_root }}/bin/app.js
Restart=always

[Install]
WantedBy=multi-user.target
