---
# - name: restart {{ role_name }}
#   ansible.builtin.systemd:
#     state: restarted
#     name: {{ role_name }}
# - name: reload {{ role_name }}
#   ansible.builtin.systemd:
#     state: reloaded
#     name: {{ role_name }}
