{% raw -%}
---
- name: Converge
  hosts: all
  gather_facts: true
  become: true
  pre_tasks:
    - name: update cache(Debian)
      ansible.builtin.apt:
        update_cache: true
      when: ansible_facts.os_family == 'Debian'
    - name: update cache(RedHat 8 <)
      ansible.builtin.yum:
        update_cache: true
      when:
        - ansible_facts.os_family == 'RedHat'
        - ansible_facts.distribution_major_version is version('8', operator='<')
    - name: update cache(RedHat 8 >=)
      ansible.builtin.dnf:
        update_cache: true
      when:
        - ansible_facts.os_family == 'RedHat'
        - ansible_facts.distribution_major_version is version('8', operator='>=')
  tasks:
    - name: "Include role"
      ansible.builtin.include_role:
        name: "{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') | basename }}"
{% endraw %}
