---
dependency:
  name: galaxy
driver:
  name: vagrant
  provider:
    name: virtualbox
platforms:
  - name: stretch
    box: wate/debian-9
    # memory: 512
    # cpus: 2
    provider_override_args:
      - "vm.synced_folder '${MOLECULE_PROJECT_DIRECTORY}', '/vagrant'"
    # instance_raw_config_args:
    #   - "vm.network 'forwarded_port', guest: 80, host: 8080"
    # provider_raw_config_args:
    #   - "customize ['modifyvm', :id, '--cpuexecutioncap', '50']"
# driver:
#   name: docker
# platforms:
#   - name: instance
#     image: "geerlingguy/docker-${MOLECULE_DISTRO:-debian9}-ansible:latest"
#     command: ${MOLECULE_DOCKER_COMMAND:-""}
#     volumes:
#       - /sys/fs/cgroup:/sys/fs/cgroup:ro
#     privileged: true
#     pre_build_image: true
lint:
  name: yamllint
provisioner:
  name: ansible
  config_options:
    defaults:
      hash_behaviour: merge
  options:
    diff: true
  lint:
    name: ansible-lint
scenario:
  name: default
verifier:
  name: testinfra
  options:
    verbose: true
  lint:
    name: flake8
    options:
      ignore: E501
